* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100wv;
  height: 100vh;
  background: rgb(61, 57, 57);
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 430px;
  border-radius: 8px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

input:not(.text) {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 10px;
  font-size: 25px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  border: 0;
  cursor: pointer;
}
input:hover:not(.text, .operator) {
  background: rgb(61, 57, 57);
  color: #c07f00;
}

.operator {
  color: #c07f00;
}
.operator:hover {
  background: rgb(61, 57, 57);
  color: #c07f00;
}

.output .text {
  width: 100%;
  height: 70px;
  padding: 0 20px 0 0;
  text-align: right;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 30px;
  border: 2px solid #c07f00;
  border-radius: 30px;
}
.calculator .equal {
  width: 155px;
  border-radius: 30px;
}
